name: Render Mermaid Diagrams

on:
  push:
    paths:
      - '**.md'
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: write

jobs:
  render:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - uses: nielsvaneck/render-md-mermaid@v3
        env:
          MMDC_EXTRA_ARGS: --backgroundColor "#262c3b" --theme dark --configFile .mermaid/config.json

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: "images/diagrams/*.svg"
          commit_message: "chore(docs): auto-render mermaid diagrams"
